<enforcedSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.jetbrains.com/teamcity/schemas/10.0/project-config.xsd">
 <settings>
    <options>
      <option name="shouldFailBuildOnAnyErrorMessage" value="false" />
    </options>
</settings>
</enforcedSettings> 

